.links{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    
 
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-align: start;
    margin-top: 20px;
    gap: 10px;
    color: white;

  
}

.footer{
    background-color: #1E1E1E;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin-top: 20px;
    gap: 10px;
    z-index: 10;
}